/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v34-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


:root {
    --color-blue: hsl(257, 40%, 49%);
    --color-magenta: hsl(300, 69%, 71%);
    --padding: 2rem;
}

html {
    background-color: var(--color-blue);
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    text-align: center;

}

body {
    font-family: "Open Sans";
    padding: var(--padding);
}


.logo {
    float: left;
    width: 40%;
    margin-bottom: 4rem;
}

.logo::after {
    content: "";
    display: block;
    clear: both;
}

h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.8rem;


}


img {
    margin-bottom: var(--padding);
    width: 100%;
}

p {
    font-size: 1.1rem;
    margin-bottom: var(--padding);
}

a {
    display: inline-block;
    background: #fff;
    padding: .5em 4em;
    border-radius: 2em;
    text-decoration: none;

}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer li {
    padding: .5rem;
    background-color: transparent;
    list-style-type: none;
}

footer a {
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}